[submodule "e2sim-kpmv3"]
	path = e2sim-kpmv3
	url = https://github.com/MinaYonan123/e2sim-kpmv3.git
	branch = develop
[submodule "ns-3-mmwave-oran"]
	path = ns-3-mmwave-oran
	url = https://github.com/MinaYonan123/ns-3-mmwave-oran.git
	branch = release
[submodule "A1_Mediator_standalone"]
	path = A1_Mediator_standalone
	url = https://github.com/kamilkociszewski/A1_Mediator_standalone.git