[submodule "e2sim-kpmv3"]
	path = e2sim-kpmv3
	url = https://github.com/MinaYonan123/e2sim-kpmv3.git
[submodule "mmwave-LENA-oran"]
	path = mmwave-LENA-oran
	url = https://github.com/MinaYonan123/mmwave-LENA-oran.git
